# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
pip-wheel-metadata/
*.egg-info/
*.egg
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Django stuff
*.log
local_settings.py
db.sqlite3

# Flask stuff
instance/
.webassets-cache

# PyCharm / VS Code / IDEs
.vscode/
.idea/

# MyPy / Pyright
.mypy_cache/
.pytype/
.dmypy.json

# Pyre
.pyre/

# Ruff / Black
.ruff_cache/